body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin: 0;
}

div {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input[type="text"] {
    width: 60px;
    padding: 10px;
    margin: 5px;
    font-size: 1.5em;   
    border: 2px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #dd09dd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #97287f;
}

button:active {
    background-color: #682d60;
}
